/*----- UNIVERSAL -----*/
.container{
    padding: 5vw 8vw;
    background-color: #EDE9E3;
    margin: 0;
}

.container2{
    background-color: #D1C7BD;
    margin: 0;
    padding: 5vw 8vw ;
}

body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    line-height: 1.5;
}

body p{
    font-family: 'Poppins';
    font-size: 1.38vw;
}
h3{
    font-family: 'Vidaloka';
    text-align: center;
    font-size: 3.35vw;
    font-weight: 400;
}
/*------ NAVIGASI ------*/
nav{
    position: fixed;
    margin: 0;
    background-color:rgba(255, 255, 255, 0.8);
    width: 100%;
}
.contet {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.5rem;
}

.kanan{
    display: flex;
    align-items: center;
}

.kanan img{
    width: 4.5vw;
    height: 4.5vw;
}

.kanan h6{
    font-size: 1vw;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 1rem;
}

nav li{
    list-style-type: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}
nav a{
    text-decoration-line: none;
    color: black;
    padding-left: 4vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*----- HOME -----*/
#home{
    display: flex;
    padding-top: 8vw;
    min-height: 80vh;
    align-items: center;
}
.isi-home{
    padding-left: 8.3vw;
    
}
.isi-home h1{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 3.35vw;
    line-height: normal;
}

.isi-home h5{
    font-family: 'Abel', sans-serif;
    font-weight: 100;
    font-size: 1.67vw;
}
.isi-home hr{
    border: 1px solid #000000;
}

#imghome{
    height: 34.72vw;
}
/*----- ABOUT -----*/
#about {
    text-align: center;
    font-family: 'Vidaloka';
    font-size: 2.1vw;
}

#about p{
    text-align: justify;
    font-size: 1.5vw;
}
#kucing {
    border-radius: 100%;
    height: 20vw;
}
#btncont{
    background: #5D4132;
    border: 2px solid #5D4132;
    color: white;
}
#btncont:hover,
#btncont:active {
  background-color: initial;
  background-position: 0 0;
  color: black;
  border: 2px solid black;
}

#btncont :active {
    opacity: .5;
  }


/*----- BUTTON -----*/
.btn{
    background: #D1C7BD;
    border: 2px solid #D1C7BD;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    min-height: 40px;
    outline: 0;
    padding: 1vw 1.7vw;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;

}

.btn:hover,
.btn:active {
  background-color: initial;
  background-position: 0 0;
  color: black;
  border: 2px solid black;
}

.btn :active {
    opacity: .5;
  }

  /*----- SKILL -----*/
  .skill-con{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
  }

  .hardskill-con{
    width: 100%;
    max-width: 100%;
  }
  
  .hardskill{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.7vw;
    gap: 0.5vw;
}
.skill-box{
    display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.isi-hardskill-b{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0.5vw;
gap: 20px;
background: #FFFFFF;
border-radius: 10px;
}

h4{
    font-family: 'poppins';
    font-size: 1.8vw;
}

.subskill{
    display: flex;
}

.subskill hr{
    glyph-orientation-horizontal: 0deg;
}
  /*----- SERTIFIKAT ------*/
  .sertifikat-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  .sertifikat-container{
    display: flex;
    padding-top: 3rem;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    
    
  }
  .card-box{
    display: flex;
    background: #EDE9E3;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 20px;
    word-wrap: break-word;
    min-width: 0;
    flex-direction: column;
  }
  .isi-serti{
    
    padding: 1rem;
  }

  .judul-serti{
    font-family: "poppins";
    font-size: 1.7vw;
    
  }
  .isi-serti p{
    font-size: 1.3vw;
  }

  .kursus{
    color:rgba(0, 0, 0, 0.61);
  }

  .card-box img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }

  .btndetail{
    padding-left: 40%;

  }

/*----- CONTACT -----*/
#contact{
    margin: auto;
    
    
}
.contact-kontainer{
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    background: #fff;
    padding: 4rem;
    margin-top: 6rem;
    text-align: right;

    border-radius: 5px;
    
}
.heading p{
    font-family: 'Lora', serif;
    font-size: 1.67vw;
    text-align: center;
}
.heading h2{
    font-family: 'Poppins';
    font-size: 2.7vw;
    font-weight: 100;
    text-align: center;
}
.isi-form{
    margin-bottom: 4rem;
    
}
.isi-form label{
    font-family: 'Poppins';
    font-size: 1.3vw;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.input{
    color: #333;
    padding: 1rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.3vw;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 200;
    font-family: 'Poppins';
}

#btncon{
    background: #5D4132;
    border: 2px solid #5D4132;
    color: white;
}
#btncon:hover,
#btncon:active {
  background-color: initial;
  background-position: 0 0;
  color: black;
  border: 2px solid black;
}

#btncon:active {
    opacity: .5;
  }
/*----- FOOTER -----*/
footer{
    width: 100%;
    background-color: #3A2D28;
    min-height: 13.2vw;
    
  }

.imgfoot{
    justify-content: space-around;
    display: flex;
    padding: 4.1vw 29vw;
}

footer img{
    width: 5vw;
    display: inline-block;
}

/*----- class col-----*/
@media only screen and (min-width: 340px) {
    /* For tablets: */
    .col-h-1 {width: 8.33%;}
    .col-h-2 {width: 16.66%;}
    .col-h-3 {width: 25%;}
    .col-h-4 {width: 33.33%;}
    .col-h-5 {width: 41.66%;}
    .col-h-6 {width: 50%;}
    .col-h-7 {width: 58.33%;}
    .col-h-8 {width: 66.66%;}
    .col-h-9 {width: 75%;}
    .col-h-10 {width: 83.33%;}
    .col-h-11 {width: 91.66%;}
    .col-h-12 {width: 100%;}
  }
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }